*{
    margin: 0;
    padding: 0;
}

.main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:linear-gradient(#212922 , #294936 )

}

.chatbox{
    display: flex;
    flex-direction: column;
    margin: auto;   
    width: 50%;
    height: 90vh;
    padding: 10px;
    gap: 1vh;

}

.messagebox{
    flex: 1 0 0;
    background-color: #3E6259;
    border-radius: 50px;
    background: radial-gradient(farthest-corner,#3E6259 , transparent);
		display:flex;
		overflow-y:scroll;
		box-sizing:border-box;
}
.messagebox::-webkit-scrollbar
{
	width:10px;
}
.messagebox::-webkit-scrollbar-thumb
{
	background: #3E6259;
	border-radius:10px;
}
.messagebox::-webkit-scrollbar-button
{
	height:5%;
}

.inputbox{
    height: fit-content;
		max-height:20vh;
    flex: 1 0 100% ;
    gap: 3px;
    display: flex;
    margin: 2px;
		align-items:center;
}

textarea{
    flex: 1 0 0;
		font-size:1.5rem;
    border-radius: 25px;
    border: 1px solid black ;
    background: #dff2d8;
		max-height:15vh;
		height:53px;
		padding:10px 25px
}
textarea::-webkit-scrollbar
{
	width:0;
}
textarea:focus-visible{
    border: none;
    outline: none;
}

button{
		padding:2.5vh 5vh;
		align-items:center;
		display:flex;
		justify-content:center;
		flex:0 0 20vh;
    width: 20vh;
    border-radius: 500px;
    border: none;
    color: white;
    background: #582f0e;
    transition: 0.1s;
    font-size:x-large;
    
}
button:hover{
    
    background: #7f4f24;

}
li
{
	list-style:none;
	background:#9e856a;
	padding:10px 25px;
	box-sizing:border-box;
	border-radius:50px;
	width:min-content;
	max-width:50%;
	overflow-wrap:break-word;
}
.messagebox > ul
{
	flex:1 0 0;
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	padding:40px 80px;
	gap:10px;
	max-width:100%;
}
.inmessage
{
	align-self:flex-end;
	border-bottom-right-radius:0;
}
.outmessage
{
	align-self:flex-start;
	border-top-left-radius:0;
}
